.loader-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  .logo-container{
    max-width: 300px;
    margin-top: -150px;
    opacity: 1;
    img{
      width: 100%;
    }
  }
  .loading-bar-container{
    background-color: #ffffff2e;
    padding: 5px;
    border-radius: 30px;
    width: 80%;
    opacity: 1;
    .loading-bar{
      height: 30px;
      transition: width .3s ease;
      border-radius: 30px;
      background: linear-gradient(180deg,#a0c4ff 0%,#7764fd 96%);
    }
  }
}
