.footer-container{
  text-align: center;
  position: absolute;
  padding: 30px;
  height: 100%;
  background: url(/../assets/images/Shop_Side_Angle_Close-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 1000px 1000px #000000c7;
}
    img{
      width: 200px;
    }
    p{
      color: #fff;
    }
    .row{
      align-items: flex-end;
      height: 100%;
    }
}
