.overlay{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000e0;
  &.not-collapsed{
    transform: translateX(0%);
    transition: transform .5s ease;
  }
  &.collapsed{
    transform: translateX(100%);
    transition: transform .5s ease;
  }
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  .nav-logo{
    width: 140px;
    transform: scale(1.0);
    transition: all .3s ease;
    filter: drop-shadow(0px 0px 9px #00000050);
    &:hover{
      transform: scale(1.2);
      transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      filter: drop-shadow(0px 0px 9px #000000);

    }
  }
  .nav-toggle{
    width: 130px;
    padding: 30px;
    transform: scale(1.0);
    transition: all .3s ease;
    filter: drop-shadow(0px 0px 9px #00000050);
    cursor: pointer;
    img{
      max-width: 100%;
      position: relative;
      z-index: 2;
    }
    &:hover, &.not-collapsed{
      transform: scale(1.4);
      transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      filter: drop-shadow(0px 0px 9px #000000);
      .menu-label{
        top: 98px;
        opacity: 1;
        transition: all .3s ease;
        z-index: 1;
      }
    }
    .menu-label{
      position: absolute;
      top: 50px;
      right: 36px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 24px;
      opacity: 0;
      transition: all .3s ease;
      color: #fff;
    }
  }
  .nav-menu{
    overflow: hidden;
    display: block;
    position: absolute;
    right: 50px;
    top: 170px;
      ul{
        list-style: none;
      }
    .nav-item{
      p{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        color: #fff;
      }
    }
    &.not-collapsed{
      margin-right: 0px;
      transition: all .5s ease;
      .nav-item{
        position: relative;
        padding-bottom: 8px;
        a{
          display: flex;
          align-items: center;
          text-decoration: none;
          justify-content: flex-end;
          cursor: pointer;
          &:hover{
            img{
              width: 80px;
              transition: all .3s ease;
            }
            p{
              font-size: 38px;
              transition: all .3s ease;
            }
          }
          img{
            width: 65px;
            transition: all .3s ease;
          }
          p{
            padding-bottom: 0px;
            margin-bottom: 0px;
            padding-right: 10px;
            font-size: 30px;
            transition: all .3s ease;
          }
        }
      }
    }
    &.collapsed{
      margin-right: -270px;
      transition: all .5s ease;
      .nav-item{
        position: relative;
        a{
          display: flex;
          align-items: center;
          text-decoration: none;
          justify-content: flex-end;
          img{
            width: 50px;
          }
          p{
            padding-bottom: 0px;
            margin-bottom: 0px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
