<div class="container-fluid">
  <div class="row">
    <div class="overlay {{menuClass}}"></div>
    <div class="col navigation">
      <a class="pl-2" href="/">
        <img class="nav-logo" src="../assets/images/DD_V1.png">
      </a>
      <!-- <a class="wallet-connect" (click)="connectWallet()">
        <p>Connect Wallet</p>
      </a> -->
      <a class="nav-toggle {{menuClass}}" (click)="toggleMenu()">
        <img src="../assets/images/PinkDonutItem.png">
        <p class="menu-label">Menu</p>
      </a>
      <div class="nav-menu {{menuClass}}">
        <ul>
          <li class="nav-item">
            <a href="#" (click)="toggleMenu()">
              <p>Home</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about-us" (click)="toggleMenu()">
              <p>About Us</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#roadmap" (click)="toggleMenu()">
              <p>Roadmap</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#head-chefs" (click)="toggleMenu()">
              <p>Team</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" (click)="toggleMenu()">
              <p>Lore</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/core-artists" (click)="toggleMenu()">
              <p>Core Artists</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" (click)="toggleMenu()">
              <p>Charity</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
