<div class="container-fluid">
  <div class="row">
    <div class="overlay {{menuClass}}"></div>
    <div class="col navigation">
      <a class="pl-2" href="/">
        <img class="nav-logo" src="../assets/images/DD_V1.png">
      </a>
      <a class="nav-toggle {{menuClass}}" (click)="toggleMenu()">
        <img src="../assets/images/PinkDonutItem.png">
        <p class="menu-label">Menu</p>
      </a>
      <div class="nav-menu {{menuClass}}">
        <ul>
          <li class="nav-item">
            <a href="#section-1" (click)="toggleMenu()">
              <p>About</p>
              <img src="../assets/images/BlueOHTrans.png">
            </a>
          </li>
          <li class="nav-item">
            <a href="#" (click)="toggleMenu()">
              <p>Roadmap</p>
              <img src="../assets/images/YellowOHTrans.png">
            </a>
          </li>
          <li class="nav-item">
            <a href="#" (click)="toggleMenu()">
              <p>Mint</p>
              <img src="../assets/images/WavyOHTrans.png">
            </a>
          </li>
          <li class="nav-item">
            <a href="#" (click)="toggleMenu()">
              <p>Charity</p>
              <img src="../assets/images/SkyOHTrans.png">
            </a>
          </li>
          <li class="nav-item">
            <a (click)="toggleMenu(); walletConnect();">
              <p>Connect Wallet</p>
              <img src="../assets/images/PurpleOHTrans.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
