#hero-section{
  height: 100vh;
  background: url('/../assets/images/SmallHeaderLogo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 1000px 1000px #0000004d;
}
