#hero-section{
  height: 100vh;
  background: url('/../assets/images/SmallHeaderLogo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 1000px 1000px #0000004d;
}
#charity{
  padding: 50px;
  background: linear-gradient(180deg, rgba(255,127,233,1) 0%, rgba(101,187,255,1) 100%);
  .heading{
    text-align: center;
    h1{
      margin-bottom: 30px;
    }
  }
  p{
    font-family: 'Chewy', sans-serif;
    font-size: 20px;
  }
}
.sideways-wire{
  max-width: 100%;
  padding: 20px;
  -webkit-filter: drop-shadow(1px -9px 3px #00000070);
  margin: auto auto;
  display: block;
}

.amount{
  color: green;
  font-size: 20px;
  font-family: 'Chewy', sans-serif;
}

.accent{
  color: #0072ff;
  font-size: 20px;
  font-family: 'Chewy', sans-serif;
}
