<div id="hero-section">
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</div>
<div id="charity">
  <div class="container-fluid">
    <div class="row heading">
      <div class="col-lg-12">
        <h1>Feed Our Communities</h1>
        <p>As members of society with the means to explore the cutting edge of technology and finance, Digital Donuts holds it as a parallel responsibility to enhance our communities along the way.
        <br/><br/>
        We will be depositing 15% of every Digital Donut sale, primary and secondary, to food banks voted on by our members.
        <br/><br/>
        The 15% split is coded into our smart contract and is fully available here:
        </p>
        <img class="sideways-wire" src="/../assets/images/WireStraightBlue.png">
        <p>
        WALLET ADDRESS HERE
        </p>
        <img class="sideways-wire" src="/../assets/images/WireStraightYellow.png">
        <p>Total Donated as of 10/19/2021</p>
        <p class="amount">$0.00</p>
      </div>
      <div class="col-lg-12">
        <p>See below for all donations made thus far. Please note we plan to develop an interactive map to all our donation locations inside of our mobile app.</p>
        <br/><br/>
        <p>LOCATION: <span class="accent">EXAMPLE</span></p>
        <p>AMOUNT: <span class="amount">$0.00</span></p>
        <p>WEBSITE: <a class="accent">LINK</a></p>
        <p>RECIEPT: <a class="accent">PDF</a></p>
      </div>
    </div>
  </div>
</div>
