.model-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: clip;
  video{
    height: 100%;
    filter: brightness(0.2);
    transform: scale(1.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .home-image-container{
    max-width: 800px;
    img{
      width: 100%;
      z-index: 3;
      position: relative;
    }
  }
}

.test{
  z-index: 10;
  position: relative;
  width: 100%;
  text-align: center;
}
