<div id="big-logo-container">
  <!-- <video loop="true" autoplay="autoplay" muted="true" id="video-bg-1">
    <source src="https://files.persona.co/108077/Non-loop-Colored-Donut-shop-full.mp4" type="video/mp4">
  </video> -->
  <div class="home-image-container">
    <!-- <img class="desktop-img" aTilt [tiltSettings]="tiltSettings" src="../assets/images/LogoTransHQ.png"> -->
    <img class="desktop-img" src="../assets/images/LogoTransHQ.png">
    <a href="#section-1"><img class="donut-arrow" src="../assets/images/StraightArrowPink.png"></a>
  </div>
</div>

<div id="section-1">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-12 mb-4">
        <h1>Welcome to the<br/>Digial Donut Shop!</h1>
        <h2>Home of Digital Donuts</h2>
      </div>
      <div class="col-lg-6">
        <div id="donutCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="img-container">
                <img src="../assets/images/Vinellachoceth.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-container">
                <img src="../assets/images/Vinellapurpbit.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-container">
                <img src="../assets/images/Vinellabluedots.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-container">
                <img src="../assets/images/Vinellayellowheart.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <p>
          The world is currently experiencing a renaissance of
          art and technology, and Digital Donuts aims to be a central gathering place for those building and guiding this
          future. Digital Donut NFT’s are your access into this community.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="section-2">
  <div class="container-fluid">
    <div class="row py-5 justify-content-center">
      <div class="col-lg-12">
        <h3 class="text-center">Why The Digital Donut Shop?</h3>
        <img class="sideways-wire" src="/../assets/images/WireStraightYellow.png">
      </div>
      <div class="col-lg-5 offset-lg-1 justify-content-center">
        <p class="text-center">
          In 3D art, the donut is often the first piece an artist will make. The first step of a great journey, sparking that
          realization of what is and can be possible. The same inspiration is happening in NFT’s, as digital architects build this
          future into Web 3.0. The donut is also a universally loved snack, the type you buy a dozen of and share with family
          and friends as you gather and discuss ideas. Our shop is a place for 3D artists of all skill levels to connect with a
          passionate community, whom in turn will be able to gather and collect great pieces from those just starting to shape
          the next era of art.
        </p>
      </div>
      <div class="col-lg-6">
        <img class="donut-img" src="/../assets/images/Vinellayellowheart.png">
      </div>
    </div>
  </div>
</div>

<div id="roadmap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>Roadmap</h3>
      </div>
      <div class="col-lg-12">
        <img class="sideways-wire" src="/../assets/images/WireStraightPink.png">
      </div>
    </div>
  </div>
  <div class="timeline">
  <div class="holder left">
    <div class="content">
      <h2>Opening Up Shop</h2>
      <p>Website and Discord launch, core initial group of core artists is finalized and whitelisting for presale begins</p>
    </div>
  </div>
  <div class="holder right">
    <div class="content">
      <h2>The First Batch</h2>
      <p>Original Batch of Digital Donuts are Minted via website</p>
    </div>
  </div>
  <div class="holder left">
    <div class="content">
      <h2>Key is Key</h2>
      <p>All wallets that minted will be given one week to mint a free(1) “Key to the Digital Donut Shop” per donut minted and held in wallet</p>
    </div>
  </div>
  <div class="holder right">
    <div class="content">
      <h2>The First Vote</h2>
      <p>One week after minting concludes, all Digital Donut holders will vote on the first group of 10 Cities/Towns for local food bank donations.
        <br/>
        15% of primary sales will be donated to this list
      </p>
    </div>
  </div>
  <div class="holder left">
    <div class="content">
      <h2>Community Events</h2>
      <p>Sponsored 3D Artist live streams commence, 3D and 2D art contests are announced, with Diamond Blender Development Badges distributed as part of community prizes, along with other prizes and Ethereum</p>
    </div>
  </div>
  <div class="holder right">
    <div class="content">
      <h2>App Development</h2>
      <p>Digital Donut App Development begins alongside acquisition and development of the Digital Donut Shop in Decentraland</p>
    </div>
  </div>
  <div class="holder left">
    <div class="content">
      <h2>Custom First Editions</h2>
      <p>Access to mint one “First Edition Custom Digital Donut” per Original Digital Donut held, plus one per each burned, “Digital Donut Shop Key” for free(1).
        <br/>
        Wallets with over 12 Digital Donuts plus a shop key will be able to mint one “First Edition Custom Digital Donut Box” for free
      </p>
    </div>
  </div>
  <div class="holder right">
    <div class="content">
      <h2>Launch of Mobile App</h2>
      <p>The initial app will allow users to connect to Metamask to view their Digital Donuts & Boxes, access an interactive map of all donation locations,
         view upcoming events, discover artists as well as their projects (along with Bio’s and links to the core Digital Donut artists), and more
      </p>
    </div>
  </div>
  <div class="holder left">
    <div class="content">
      <h2>Partnerships</h2>
      <p>Begin developing partnerships with national donut chains to bring Digital Donut NFT’s into new wallets and provide free physical donut perks for all holders</p>
    </div>
  </div>
  <div class="holder right">
    <div class="content">
      <h2>Physical Art Galleries</h2>
      <p>Hold and sponsor both physical and digital Art Galleries in real life as well as Decentraland, with special privileges and discounts given to attending Digital Donut Holders</p>
    </div>
  </div>
</div>
</div>
