<div id="big-logo-container">
  <video muted loop playsinline autoplay id="video-bg-1">
    <source src="https://files.persona.co/108077/Non-loop-Colored-Donut-shop-full.mp4" type="video/mp4">
  </video>
  <div class="home-image-container">
    <img class="desktop-img" aTilt [tiltSettings]="tiltSettings" src="../assets/images/LogoTransHQ.png">
    <img class="mobile-img" src="../assets/images/LogoTransHQ.png">
    <a href="#section-1"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>

<div id="section-1">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div id="donutCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2000" data-bs-pause="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="img-container">
                <img src="../assets/images/Vinellachoceth.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-container">
                <img src="../assets/images/Vinellapurpbit.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-container">
                <img src="../assets/images/Vinellabluedots.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-container">
                <img src="../assets/images/Vinellayellowheart.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h1>Welcome to the<br/>Digial Donut Shop!</h1>
        <p>In the heart of the largest city in the metaverse, tucked between skyscrapers, stands the Digital Donut Shop.</p>
        <p>It’s an old donut bakery, transformed to a cultural landmark for those at the cutting edge of art and technology.
          Artists and Degens loiter around the parking lot under flickering neon lights, coming in and out of the
          imposing metal door at the front of the shop. As they pass a sign labeled “Holders Only”, some display a digital token to the scanner,
          while others turn a shining key in the lock. The scanner beeps, the hinges creak, and the members enter the transmuted shop within.</p>
      </div>
    </div>
  </div>
</div>

<div id="section-2">

</div>
