p{
  font-family: "Chewy", sans-serif;
}

h3{
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  color: #fff;
  -webkit-filter: drop-shadow(1px 4px 3px #00000070);
}

.dd-section{
  padding: 50px;
  width: 100%;
}

.sideways-wire{
  max-width: 100%;
  padding: 20px;
  margin-bottom: 50px !important;
  -webkit-filter: drop-shadow(1px -9px 3px #00000070);
  margin: auto auto;
  display: block;
}

#home-section-container{
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background-image: url("/assets/images/HomeBG1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .logo-image-container{
    max-width: 650px;
    margin-top: 60px;
    padding: 50px;
    .logo-img{
      width: 100%;
      z-index: 3;
      position: relative;
    }
    .donut-arrow{
      height: 100px;
      position: relative;
      display: block;
      margin: auto;
      -webkit-transform: translateY(0px) rotate(180deg);
      transition: all .3s ease;
      &:hover{
        -webkit-transform: translateY(20px) rotate(180deg);
        transition: all .3s ease;
      }
    }
  }
}

#about-us{
  z-index: 10;
  position: relative;
  text-align: center;
  background: linear-gradient(180deg, #ff73bb 0%, #ff9fc4 96%);
  display: flex;
  align-items: center;
  #donutCarousel{
    .carousel-item{
      &.active{
        &.carousel-item-start{
          opacity: 0;
          transition: all 1.7s ease;
        }
      }
    }
  }
  .img-container{
    width: 100%;
    img{
      max-width: 65%;
      margin-top: 80px;
    }
  }
  h1{
    font-weight: bold;
    font-size: 36px;
  }
  p{
    font-size: 30px;
  }
}

#why-dd{
  background: linear-gradient(180deg, rgba(255,159,196,1) 35%, rgba(0,146,231,1) 100%);
  display: flex;
  align-items: center;
  .donut-img{
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 30px;
  }
  p{
    font-size: 28px;
  }
  h3{
    color: #000;
  }
}

#core-principles{
  background: linear-gradient(180deg, #0092e7 32%, #0040ff 100%);
  h3{
    color: #fff;
  }
  h4{
    color: #fff;
    font-family: "Chewy", sans-serif;
  }
  p{
    color: #fff;
    font-size: 26px;
    margin-bottom: 0px;
  }
  .principles-list{
    margin-top: 80px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .principle-item {
    display: flex;
    margin: 20px;
    align-items: center;
    flex-wrap: wrap;
    img{
      max-width: 100px;
      margin-right: 20px;
    }
  }
}

#roadmap{
  background: linear-gradient(180deg, #0040ff 32%, #fff 100%);
  .timeline {
    margin-top: 50px !important;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 10px;
  }
  .holder {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    z-index: 2;
    &:hover{
      &::after{
        -webkit-transform: scale(1.5);
        transition: all .3s ease;
      }
    }
  }
  .holder::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    right: -30px;
    top: 13px;
    border-radius: 50%;
    z-index: 1;
    -webkit-transform: scale(1.0);
    transition: all .3s ease;
    background-image: url("/../assets/images/PinkOHTrans.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .left {
    left: 0;
  }
  .right {
    left: 50%;
  }
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 30px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #0000007a;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #0000007a;
  }
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 30px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #0000007a;
    border-width: 10px 10px 10px 0;
    border-color: transparent #0000007a transparent transparent;
  }
  .right::after {
    left: -30px;
    background-image: url('/../assets/images/ChocolateOHTrans.png');
  }
  .content {
    padding: 20px 30px;
    background-color: #0000007a;
    position: relative;
    border-radius: 6px;
    h2, p{
      color: #fff;
      font-family: "Chewy", sans-serif;
    }
  }
  @media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
    .holder {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .holder::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
      left: 0px;
    }
    .right {
      left: 0%;
    }
  }
}

#head-chefs{
  min-height: 100vh;
  background-color: #fff;
  .chefs-heading{
    border-bottom: 3px solid #ffe245;
    padding: 30px;
    .tiny-logo{
      width: 100px;
      margin: auto;
      display: block;
    }
    h3{
      color: #24aeff;
    }
  }
  .chef-profile{
    padding: 10px;
    .chef-profile-head{
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 3px solid;
      padding-bottom: 10px;
      .chef-profile-donut{
        max-width: 100%;
        &.desat{
          -webkit-filter: saturate(0.85);
        }
      }
      hr{
        width: 90%;
      }
      h5{
        font-size: 16px;
      }
      &.tommy{
        h5, p{
          color: #de54cb;
        }
        color: #de54cb;
      }
      &.andrew{
        h5, p{
          color: #32bed6;
        }
        color: #32bed6;
      }
      &.joe{
        h5, p{
          color: #e3de4e;
        }
        color: #e3de4e;
      }
    }
    .chef-profile-details{
      padding-top: 10px;
      ul{
        li{
          font-family: "Chewy", sans-serif;
          line-height: 2;
          font-size: 18px;
        }
      }
    }
  }
}
