@keyframes floating {
    0% {
      -webkit-transform: translate(0,  0px);
      -webkit-filter: drop-shadow(0px 22px 10px #000000aa);
     }
    50% {
      -webkit-transform: translate(0, -35px);
      -webkit-filter: drop-shadow(0px 45px 20px #00000050);
     }
    100% {
      -webkit-transform: translate(0, 0px);
      -webkit-filter: drop-shadow(0px 22px 10px #000000aa);
    }
}

@keyframes logoSlideIn {
  0% {
    -webkit-transform: translateY(-500px);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes arrowSlideIn {
  0% {
    -webkit-transform: translateY(500px) rotate(0deg);
    opacity: 0;
  }

  100%{
    -webkit-transform: translateY(0px) rotate(180deg);
    opacity: 1;
  }
}

@media only screen and (max-width: 792px) {
  .home-image-container{
    .desktop-img{
      display: none;
    }
  }
}

@media only screen and (min-width: 793px) {
  .home-image-container{
    .mobile-img{
      display: none;
    }
  }
}

#big-logo-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: clip;
  background-image: url("/assets/images/HomeBG1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  video{
    height: 100%;
    -webkit-filter: brightness(0.2);
    -webkit-transform: scale(1.1);
    position: fixed;
    top: 0;
    width: 100%;
    object-fit: cover;
    left: 0;
    z-index: 2;
  }
  .home-image-container{
    max-width: 800px;
    margin-top: 60px;
    .desktop-img, .mobile-img{
      width: 100%;
      z-index: 3;
      position: relative;
      will-change: transform;
      -webkit-animation-name: logoSlideIn;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
    }
    .donut-arrow{
      height: 100px;
      -webkit-animation-name: arrowSlideIn;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      position: relative;
      display: block;
      margin: auto;
      -webkit-transform: translateY(0px) rotate(180deg);
      transition: all .3s ease;
      &:hover{
        -webkit-transform: translateY(20px) rotate(180deg);
        transition: all .3s ease;
      }
    }
  }
}

#section-1{
  padding: 50px;
  z-index: 10;
  position: relative;
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, #ff73bb 0%, #ff9fc4 96%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  #donutCarousel{
    -webkit-animation-name: floating;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    .carousel-item{
      &.active{
        &.carousel-item-start{
          opacity: 0;
          transition: all 1.7s ease;
        }
      }
    }
  }
  .img-container{
    width: 100%;
    img{
      max-width: 65%;
    }
  }
  h1{
    font-weight: bold;
    font-size: 46px;
  }
  p{
    font-size: 26px;
  }
}

.sideways-wire{
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  -webkit-filter: drop-shadow(1px -9px 3px #00000070);
  &:nth-of-type(odd){
    -webkit-transform: rotate(180deg);
  }
}

#roadmap{
  padding-top: 50px;
  background: linear-gradient(180deg,#a0c4ff 0%,#7764fd 96%);
  width: 100%;
  h3{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin: 30px;
    -webkit-filter: drop-shadow(1px 4px 3px #00000070);
  }
  .timeline {
    margin-top: 50px !important;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  .holder {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    &:hover{
      &::after{
        -webkit-transform: scale(1.5);
        transition: all .3s ease;
      }
    }
  }
  .holder::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    right: -30px;
    top: 13px;
    border-radius: 50%;
    z-index: 1;
    -webkit-transform: scale(1.0);
    transition: all .3s ease;
    background-image: url("/../assets/images/PinkOHTrans.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .left {
    left: 0;
  }
  .right {
    left: 50%;
  }
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 30px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #0000007a;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #0000007a;
  }
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 30px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #0000007a;
    border-width: 10px 10px 10px 0;
    border-color: transparent #0000007a transparent transparent;
  }
  .right::after {
    left: -30px;
    background-image: url('/../assets/images/ChocolateOHTrans.png');
  }
  .content {
    padding: 20px 30px;
    background-color: #0000007a;
    position: relative;
    border-radius: 6px;
    color: #fff;
  }
  @media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
    .holder {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .holder::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
      left: 0px;
    }
    .right {
      left: 0%;
    }
  }
}
