<div id="home-section-container">
  <div class="logo-image-container">
    <img class="logo-img wow fadeInDown" src="../assets/images/LogoTransHQ.png">
    <a href="#about-us" class="wow fadeInUp"><img class="donut-arrow" src="../assets/images/StraightArrowPink.png"></a>
  </div>
</div>
<div id="about-us" class="dd-section">
  <div class="container-fluid">
    <div class="row align-items-center wow fadeInUp">
      <div class="col-lg-12 mb-4">
        <h1>Welcome to the<br/>Digial Donut Shop!</h1>
        <h2>Home of Digital Donuts</h2>
      </div>
      <div class="col-lg-6">
        <div id="donutCarousel" class="carousel slide carousel-fade wow fadeInLeft" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="img-container">
                <img src="../assets/images/Vinellachoceth.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-container">
                <img src="../assets/images/Vinellapurpbit.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-container">
                <img src="../assets/images/Vinellabluedots.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-container">
                <img src="../assets/images/Vinellayellowheart.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1s">
        <p>
          The world is currently experiencing a renaissance of
          art and technology, and Digital Donuts aims to be a central gathering place for those building and guiding this
          future. Digital Donut NFT’s are your access into this community.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="why-dd" class="dd-section">
  <div class="container-fluid">
    <div class="row py-5 justify-content-center">
      <div class="col-lg-12">
        <h3 class="text-center">Why The Digital Donut Shop?</h3>
        <img class="sideways-wire" src="/../assets/images/WireStraightYellow.png">
      </div>
      <div class="col-lg-5 offset-lg-1 justify-content-center">
        <p class="text-center">
          In 3D art, the donut is often the first piece an artist will make. The first step of a great journey, sparking that
          realization of what is and can be possible. The same inspiration is happening in NFT’s, as digital architects build this
          future into Web 3.0. The donut is also a universally loved snack, the type you buy a dozen of and share with family
          and friends as you gather and discuss ideas. Our shop is a place for 3D artists of all skill levels to connect with a
          passionate community, whom in turn will be able to gather and collect great pieces from those just starting to shape
          the next era of art.
        </p>
      </div>
      <div class="col-lg-6">
        <img class="donut-img wow fadeInRight" src="/../assets/images/Vinellayellowheart.png">
      </div>
    </div>
  </div>
</div>

<div id="core-principles" class="dd-section">
  <div class="container-fluid">
    <div class="row py-5 justify-content-center">
      <div class="col-lg-12">
        <h3 class="text-center">Core Principles</h3>
        <img class="sideways-wire" src="/../assets/images/WireStraightPink.png">
        <h4 class="text-center">Moving forward we aim to build a community that guides itself based on these core principles.</h4>
      </div>
      <div class="col-lg-12 justify-content-center">
        <div class="principles-list">
          <div class="principle-item">
            <img class="wow fadeInUp" src="/../assets/images/YellowOHTrans.png">
            <p class="wow fadeInUp">Build value in holding Digital Donut NFT’s</p>
          </div>
          <div class="principle-item">
            <img class="wow fadeInUp" src="/../assets/images/PinkOHTrans.png">
            <p class="wow fadeInUp">Support and foster growth of 3D artists</p>
          </div>
          <div class="principle-item">
            <img class="wow fadeInUp" src="/../assets/images/ChocolateOHTrans.png">
            <p class="wow fadeInUp">Make large and consistent donations to food banks local to our community</p>
          </div>
          <div class="principle-item">
            <img class="wow fadeInUp" src="/../assets/images/WavyOHTrans.png">
            <p class="wow fadeInUp">Introduce more people to NFT’s and expand what is possible with verifiable ownership via NFT’s</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="roadmap" class="dd-section">
  <div class="container-fluid">
    <div class="row wow fadeInUp">
      <div class="col-lg-12">
        <h3>Roadmap</h3>
      </div>
      <div class="col-lg-12">
        <img class="sideways-wire" src="/../assets/images/WireStraightPink.png">
      </div>
    </div>
  </div>
  <div class="timeline  wow fadeInUp">
  <div class="holder left wow flipInX">
    <div class="content">
      <h2>Opening Up Shop</h2>
      <p>Phase 2 Website and Discord launch, core artists are announced. Whitelist is finalized and mint passes are claimed</p>
    </div>
  </div>
  <div class="holder right wow flipInX">
    <div class="content">
      <h2>The First Batch</h2>
      <p>Original <i>Batch</i> of Digital Donuts are Minted via website</p>
    </div>
  </div>
  <div class="holder left wow flipInX">
    <div class="content">
      <h2>Key is Key</h2>
      <p>All wallets that minted will be given one week to mint a free key to the Digital Donut Shop per donut minted and held in wallet. Key holders will have access to the <i>back office</i>.</p>
    </div>
  </div>
  <div class="holder right wow flipInX">
    <div class="content">
      <h2>The First Vote</h2>
      <p>After minting concludes, 15% of primary sales will be donated to local food banks in 10 Cities/Towns voted on by Digital Donut holders.<br/>Moving forward 15% of all secondary sales will be donated to 5 Cities/Towns voted on by the community monthly or bi monthly dependent on volume.
      </p>
    </div>
  </div>
  <div class="holder left wow flipInX">
    <div class="content">
      <h2>Community Events</h2>
      <p>Core artist events, including AMA’s, live streams and twitter spaces commence. First community art contest is announced, with <i>Diamond Blender Development Badges</i> distributed as part of community prizes, along with other prizes and Ethereum.</p>
    </div>
  </div>
  <div class="holder right wow flipInX">
    <div class="content">
      <h2>App Development</h2>
      <p>Digital Donut App Development begins alongside acquisition and development of the Digital Donut Shop in Decentraland.</p>
    </div>
  </div>
  <div class="holder left wow flipInX">
    <div class="content">
      <h2>Core is Core</h2>
      <p>Our first baking project with our core artist group will be free to claim for all holders.
      </p>
    </div>
  </div>
  <div class="holder right wow flipInX">
    <div class="content">
      <h2>Launch of Mobile App</h2>
      <p>The initial app will allow users to connect to Metamask to view their Digital Donuts NFT’s, access an interactive map of all donation locations, view upcoming events, discover community artists, keep up to date on Crypto/NFT news and more features to be announced.
      </p>
    </div>
  </div>
  <div class="holder left wow flipInX">
    <div class="content">
      <h2>Partnerships</h2>
      <p>Begin developing partnerships with national donut chains to bring Digital Donut NFT’s into new wallets and perks for Digital Donut holders</p>
    </div>
  </div>
  <div class="holder right wow flipInX">
    <div class="content">
      <h2>Physical Art Galleries</h2>
      <p>Hold and sponsor art galleries in real life as well as Decentraland, with special privileges and discounts, or exclusive access, depending on the event, given to attending Digital Donut Holders</p>
    </div>
  </div>
</div>
</div>

<div id="head-chefs" class="dd-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 chefs-heading wow fadeInUp">
        <img class="tiny-logo" src="/../assets/images/DD_V1.png">
        <h3>The Head Chefs</h3>
      </div>
      <div class="col-lg-4 chef-profile wow fadeInUp">
        <div class="row chef-profile-head tommy">
          <div class="col-lg-6">
            <img class="chef-profile-donut desat" src="/../assets/images/PinkDonutItem.png">
          </div>
          <div class="col-lg-6">
            <div class="chef-profile-info">
              <h5>Thomas Carroll<br/><small>AKA: Gatzby</small></h5>
              <p>
                <i>Project Director</i><br/>
                Twitter: @RealGatzby<br/>
                Discord: Gatzby-Head Baker
              </p>
            </div>
          </div>
        </div>
        <div class="row chef-profile-details">
          <div class="col-lg-12">
            <ul>
              <li>The artist/chef responsible for Digital Donuts NFT</li>
              <li>Previously worked in the music industry as a recording artist and photographer for a multitude of artists</li>
              <li>Recently moved to the West Coast and developed a passion for 3D artwork over the past year</li>
              <li>Thomas hopes to raise awareness on hunger and malnutrition through his artwork as well as help bring people into the crypto community</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 chef-profile wow fadeInUp">
        <div class="row chef-profile-head andrew">
          <div class="col-lg-6">
            <img class="chef-profile-donut" src="/../assets/images/TealDonutItem.png">
          </div>
          <div class="col-lg-6">
            <div class="chef-profile-info">
              <h5>Andrew Missey<br/><small>AKA: Mizzy</small></h5>
              <p>
                <i>Head of Development</i><br/>
                Twitter: @MizzyExists<br/>
                Discord: Mizzy.eth
              </p>
            </div>
          </div>
        </div>
        <div class="row chef-profile-details">
          <div class="col-lg-12">
            <ul>
              <li>Andrew is the Head of Development for Digital Donuts and responsible for ensuring that everything from IPFS, smart contracts and the website run smoothly</li>
              <li>Andrew has a background in programming and web development for over 10 years</li>
              <li>Andrew’s goal is to provide the community with a smooth launch experience and minimal gas fees</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 chef-profile wow fadeInUp">
        <div class="row chef-profile-head joe">
          <div class="col-lg-6">
            <img class="chef-profile-donut desat" src="/../assets/images/YellowDonutItem.png">
          </div>
          <div class="col-lg-6">
            <div class="chef-profile-info">
              <h5>Joe O’Rourke<br/><small>AKA: Bunchu</small></h5>
              <p>
                <i>Community Manager</i><br/>
                Twitter: @BunchuBets<br/>
                Discord: Bunchu.eth
              </p>
            </div>
          </div>
        </div>
        <div class="row chef-profile-details">
          <div class="col-lg-12">
            <ul>
              <li>Joe is responsible for communications within the community to generate excitement and maximize engagement</li>
              <li>Joe has a diverse background in cryptocurrency, co-host of Rekt podcast for the past three years and co-host of The Mint Condition podcast for the past year as well as co-founder of Dgen Crypto news network and NFT RedZone</li>
              <li>His goal is to build and interact with a unique community of artists and NFT enthusiasts</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
